.prismatic-burst-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.prismatic-burst-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}